@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: 'MLKVShaji-Bold';
  src: url('/fonts/mlkv-shaji/MLKVShaji-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'MVMAthira-Bold';
  src: url('/fonts/mvm-athira/MVMAthira-Bold.ttf') format('truetype');
  font-weight: bold;
}
